.modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.5;
  }

  .modalContainer {
    width: 400px;
    height: 200px;
    background-color: #ea4b36;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .modalHeader {
      position: absolute;
      top: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background-color: #d64532;
      display: flex;
      justify-content: space-between;

      span {
          color: #fff;
          margin: 15px 35px;
      }
  }

  .modalTitle {
    font-size: 14px;
    color: #fff;
    margin: 15px 35px;
  }

  .modalBody {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    padding: 20px 35px;
  }

  .modalFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
   }

  .btn { 
    color: #fff;
    font-size: 10px;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    border: none;
  }
  .btnOk {
    background: green;
  }
  .btnCancel {
    background: grey;
  }

  