
.button {
    font-size: 10px;
    color: #fff;
    margin: 5px;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    min-width: 65px;

    &:hover {
        transition: 0.7s;
        filter: brightness(1.25);
    }
}


